.full {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}

.likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    gap: 24px;
}

.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    gap: 8px;
}

.counter p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    vertical-align: bottom;
    color: #4F4F4F;
}

.likeActive svg path {
    fill: #219653
}

.dislikeActive svg path {
    fill: #EB5757;
    fill-opacity: 1;
}

.counter button svg:hover {
    opacity: .5;
}